@import url('https://fonts.cdnfonts.com/css/exo-4');
.network-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
}

.head-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#networkDisplay {
    margin-right: 10px;
    font-size: 0rem;
}

body {
    background-color: white;
    font-family: 'Exo', sans-serif;
}

center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.multisender {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.connect {
    cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(100% 49.18% at 22.5% 49.18%, #472d127c 0%, #4d3d0694 100%), url(/53453.jpg) center top no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 3000px;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
}

.contact-us {
    background: #DDBD46;
    padding: 50px 100px;
    border: 2px solid black;
    box-shadow: 15px 15px 1px #DDBD46, 15px 15px 1px 2px black;
}

input {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    font-family: "Fjalla One";
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid #8d7300;
    background: #DDBD46;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: black;
    font-family: 'Exo', sans-serif;
}

input:focus {
    border-bottom: 5px solid #000000;
}

button {
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 30px;
    background: rgb(252, 233, 181);
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    outline: none;
    box-shadow: 3px 3px 1px 1px #ffdc84, 3px 3px 1px 2px black;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Exo', sans-serif;
}

button:hover {
    background: black;
    color: white;
    border: 1px solid black;
}

::selection {
    background: #ffdc82;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border-bottom: 5px solid #ffdc82;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #DDBD46 inset;
    transition: background-color 5000s ease-in-out 0s;
}